extends ../index

block main
	.container-fluid
		h2.mt-5
			strong Building a Point-of-Sale system for small businesses (Promenade)
		small
			em 2022-2023

	.row.g-0.my-5
		img.img-fluid(src="case-studies/promenade/cover.png")

	.container-fluid
		dl.row.mb-4
			.col-6
				dt.h3 My Role
				dd Discovery & Research, UX and UI Design (Figma)
			.col-6
				dt.h3 The Team
				dd 2 Product Managers, Engineering Manager, 4 Engineers, Designer

		.row
			.col-12
				p
					| In this case study, we focus on the “Create Order” in our Point of Sale
					| (POS) system's MVP. We are trying to position Promenade as the go-to
					| solution in our chosen market. This feature, central to our POS system,
					| plays a vital role in enabling vendors to efficiently create and process
					| orders, adding significant value to our offering. Its successful
					| development is pivotal to our sales enablement, business growth, and
					| strategic positioning objectives.

			.col-12
				h3.my-4 Discovery & Research
				h4.h5 Store visits and interviews takeaways
				ul.ps-4.mt-3
					li
						strong Manual Operations:&nbsp;
						| A lot of stores currently rely on manual processes for inventory
						| management and checkout procedures, including the application of price
						| stickers and manual price input at the checkout counter.
					li
						strong Non-Catalog Sales:&nbsp;
						| Stores have a practice of offering items and services that are not
						| listed in their standard catalog. This flexibility allows them to cater
						| to diverse customer needs, but it also creates challenges in terms of
						| inventory management and pricing consistency.
					li
						strong Cash Payments Support:&nbsp;
						| Our research has revealed a critical need for integrating cash payment
						| capabilities into our POS system. 40% of customers rely on cash for
						| transactions. Failing to accommodate this preference could lead to
						| customer frustration and potential loss of business.
					li
						strong Cash Register Integration:&nbsp;
						| Because of the discovery point above, we found the need for our system
						| to be integrated with a cash register to support processing of cash
						| payments.
					li
						strong Barcode Scanner Integration:&nbsp;
						| Based on store visits and competitor analysis, a barcode scanner is
						| essential for any POS system, as it caters to the needs of our target
						| partners in the pet store and beverage industries. These partners
						| heavily rely on SKUs and barcodes for their products, necessitating
						| seamless integration for efficient operations.
					li
						strong Digital Receipts:&nbsp;
						| We've observed a growing preference for digital receipts, particularly
						| through email and text messages. To adapt to this, our POS system
						| should offer convenient options for customers to receive their purchase
						| confirmations and records through these channels, enhancing their
						| overall shopping experience.
					li
						strong Printed Receipts:&nbsp;
						| While many customers prefer digital receipts, it's important to note
						| that a significant segment, particularly the older demographic, still
						| values printed receipts. To ensure inclusivity and meet diverse customer
						| preferences, our POS system should continue to support the generation of
						| printed receipts alongside digital options. This approach maintains
						| flexibility and enhances customer satisfaction across all age groups.

			.col-12
				h4.h5.my-4 Defining scope for MVP
			.col-12
				img.img-fluid(src="case-studies/promenade/defining-scope-mvp.png")
			.col-12
				p
					| To accommodate diverse verticals like butchers, pet stores, and alcohol
					| retailers, we're prioritizing features that are applicable to all. These
					| will simplify inventory management, adapt to unique pricing needs, and
					| support various payment methods, ensuring a seamless checkout experience
					| for all businesses.
			.col-12
				h4.h5.my-5 Fleshing out the flow and deciding which parts are out of scope

	.row.g-0
		img.img-fluid(src="case-studies/promenade/fleshing-out-flow.png")

	.container-fluid
		.row
			.col-12.mt-5
				h3 User Personas
				p
					| One of our product managers, Vicki, crafted these 3 user personas informed
					| by multiple rounds of interviews. These personas provide valuable insights
					| into our users' needs and preferences, guiding our product development.

		.row.align-items-center.my-2
			.col-md-4.mb-4
				img.img-fluid(src="case-studies/promenade/user-persona-1.png")
			.col
				h4 Old School POS User
				ul
					li I just want to focus on making sales and doing good business.
					li I am not into fancy POS features - as long as it works, it works.
					li I want to make more money and live a comfortable life.
					li I want to spend less time updating my catalog data and more time making money selling my products.

		.row.align-items-center.my-2
			.col-md-4.mb-4
				img.img-fluid(src="case-studies/promenade/user-persona-2.png")
			.col
				h4 POS Ecosystem Folk
				ul
					li I care a lot about operational efficiency and the POS I choose must have everything that I need and want.
					li I must be completely blown away by the POS features.
					li I like to make sure my customers see me as the go-to expert in my field and I can answer all their product-related questions.

		.row.align-items-center.my-2
			.col-md-4.mb-4
				img.img-fluid(src="case-studies/promenade/user-persona-3.png")
			.col
				h4 POS Data Stickler
				ul
					li I find data to be extremely valuable information for my business, and appreciate a POS that allows me to analyze all kinds of data on my own.
					li I enjoy the business I am in, that’s why I’m in it; I would want a POS that catered to my niche.

		.row
			h3 Problems
			ol.ps-5
				li
					strong Limited Technological Integration:&nbsp;
					| The absence of a robust technology system, such as a unified POS system,
					| hampers the ability to streamline operations efficiently.
				li
					strong Inefficient User Experience:&nbsp;
					| The existing user interface and processes of some of our competitors
					| have created a poor user experience for both employees and customers.
					| This inefficiency results in extended transaction times and often
					| frustrates customers.
				li
					strong Extended Transaction Times:&nbsp;
					| Due to the outdated technology and cumbersome manual processes,
					| completing a single transaction takes significantly more time than
					| necessary, leading to long queues and frustrated customers.
				li
					strong Time-Consuming Manual Data Entry:&nbsp;
					| Employees are required to manually enter product information and
					| pricing, which not only increases the chances of errors but also
					| prolongs the checkout process.

		.row
			.col-12
				h3.mt-4 Design Goal
				p
					| I aimed to create an in-store transaction experience that is not only
					| seamless but also highly efficient, enabling our partners to process
					| orders swiftly. By minimizing the time required to create an order, we
					| empower our partners to handle more orders, ultimately leading to
					| increased revenue generation.

			.col-12
				h3.mt-4 Features

	.row.justify-content-center.mb-5.g-0
		img.img-fluid(src="case-studies/promenade/features-flow.png")

		.col-md-3
			h4.h5.mt-4.mb-3 Cart Features
			ul
				li
					strong Effortless Product Addition:
					ul
						li
							| Barcode Scan: Streamlined addition by scanning UPC barcodes,
							| automatically adding recognized products to the cart.
						li
							| Product Catalog Search: Seamlessly add items from the product
							| catalog.
						li
							| Custom Item Addition: Easily create and price custom items
							| on-the-fly using the "Add custom" button.
		.col-md-3
			video.w-100(src="case-studies/promenade/effortless-product-addition.mov" autoplay loop muted title="Effortless product addition")

	.row.justify-content-center.mb-5.g-0
		.col-md-3
			ul
				li
					strong Editing Quantity:
					ul
						li Edit item quantities within the cart to avoid repetitive scanning.
				li
					strong Removing Products:
					ul
						li
							| Individual Removal: Remove specific items by tapping on the "X"
							| icon next to their thumbnail.
						li
							| Clearing the Cart: Easily clear the entire cart with a
							| confirmation pop-up.
				li
					strong Transparent Pricing displays:
					ul
						li
							| Subtotal: Displays the cart's total amount before tax.
						li
							| Tax: Shows the applicable tax percentage and the calculated tax
							| amount based on the store location.
						li
							| Grand Total: Presents the final cart amount, including tax
							| calculations.


		.col-md-3
			video.w-100(src="case-studies/promenade/removing-products.mov" autoplay loop muted title="Removing products")

	.row.justify-content-center.mb-5.g-0
		.col-md-3
			h4.h5 Product Catalog
			ul
				li
					strong Filtering Products:
					ul
						li
							| Users can filter products with ease using text-based search and
							| category selection.
				li
					strong Textbox Search:
					ul
						li
							| Users can enter product details like name, brand, UPC, and SKU
							| for quick and precise results.

				li
					strong Category Selection:
					ul
						li
							| A category filter narrows down the catalog to a specific product
							| category.

				li
					strong Combined Filtering:
					ul
						li
							| Users can search for specific keywords within a chosen category,
							| allowing for targeted product exploration.

				li
					strong Add to Cart:
					ul
						li
							| Users can effortlessly add simple products to their cart using
							| the "Add to Cart" button.

				li
					strong Variant Products Modal:
					ul
						li
							| For items with multiple variants, users can easily select their
							| preferred option via the "Select Variants..." button. A modal
							| presents all available choices, with the selected variant's price
							| clearly displayed for quick reference before adding to the cart.
		.col-md-3
			video.w-100(
				src="case-studies/promenade/product-catalog.mov"
				title="Product catalog"
				autoplay
				loop
				muted
			)

	.row.justify-content-center.mb-5.g-0
		.col-md-3
			h4.h5 Payment Experience
			ul
				li
					strong Checkout:
					ul
						li
							| Users can initiate the checkout process by selecting the
							| "Charge" button after adding all desired items to their cart.
							| A user-friendly modal communicates that printing the receipt
							| may not be possible if the printer is offline or experiencing
							| issues. Users have the option to proceed or wait until the
							| printer is back online.
				li
					strong Cash Payment:
					ul
						li
							| When users opt for cash payment, they must enter an amount
							| equal to or greater than the grand total of their cart. Once
							| the payment is processed, the system automatically calculates
							| change if applicable, and the cash register opens, ensuring a
							| smooth transaction.
				li
					strong Card Payment:
					ul
						li
							| For card payments, customers have various options to interact
							| with the card reader, including swiping, tapping, or inserting
							| their card. The process is designed for simplicity and
							| convenience.
				li
					strong Tipping:
					ul
						li
							| At the conclusion of the card reader transaction, customers are
							| prompted to add an optional tip.
		.col-md-3
			video.w-100(
				src="case-studies/promenade/payment-experience.mov"
				title="Payment experience"
				autoplay
				loop
				muted
			)


	.row.justify-content-center.g-0
		.col-md-3
			h4.h5 Flexible Receipt Options
			p
				| Following payment processing, customers are presented with the option
				| to tailor their receipt delivery method to their preference.
			ul
				li
					strong No Receipt:
					ul
						li
							| For customers who do not require a receipt, this choice ensures
							| a quick and hassle-free checkout experience.
		.col-md-3
			img.img-fluid(src="case-studies/promenade/receipt-options-1.png")

	.row.justify-content-center.mt-3.g-0
		.col-md-3
			ul
				li
					strong Printed Receipt:
					ul
						li
							| Users can opt for a traditional printed receipt, facilitating
							| physical record-keeping and documentation.
						li
							| Designed through&nbsp;
							a(
								href="https://star-document-markup-designer.smcs.site/main/index#designer"
								target="_blank"
								rel="noopener noreferrer"
							) Star Document Markup Designer
		.col-md-3
			img.img-fluid(src="case-studies/promenade/receipt-options-2.png")

	.row.justify-content-center.mt-3.g-0
		.col-md-3
			ul
				li
					strong Email Receipt:
					ul
						li
							| Those who prefer digital records can enter their email address
							| to receive a receipt conveniently via email.
				li
					strong SMS/Text Receipt:
					ul
						li
							| Customers seeking instant access to their transaction details
							| can opt to receive a receipt through SMS/Text by providing
							| their phone number.
		.col-md-3
			img.img-fluid(src="case-studies/promenade/receipt-options-3.png")

	.container-fluid
		.row.mt-4
			.col-12
				h3 Quick Tour
				video.w-100(
					src="case-studies/promenade/quick-tour.mp4"
					title="Quick tour"
					controls
				)

		.row.mt-4
			.col-12
				h3 Outcome
				p
					| Although the project's development was successfully completed, it has
					| temporarily undergone a soft launch phase due to a company-wide
					| restructure. A few select partners have shown interest and have been
					| using the solution in their workflows. While it hasn't been released
					| for public sale just yet, this early adoption by key stakeholders
					| underscores the strong potential and positive impact of the project
					| in addressing their specific needs.
				p
					| Here’s the&nbsp;
					a(
						href="https://help.pets.getpromenade.com/point-of-sale"
						target="_blank"
						rel="noopener noreferrer"
					) Help Center Guide
					| &nbsp;I put together for this project.
