extends ../index

block main
	h1
		strong Reinventing the Shop Page (Promenade for Restaurants, 2022)
	small
		em 2022

	img.img-fluid.my-5(src="case-studies/promenade-restaurants/cover.png")

	dl.row.mb-4
		.col-6
			dt.h3 My Role
			dd Discovery & Research, UX and UI Design (Figma)
		.col-6
			dt.h3 The Team
			dd Product Manager, Engineering Manager, 2 Engineers, SDET, Designer

	.row
		.col-12
			h2 Context/Background
			p
				| This project is a byproduct of the Restaurant-Managed Menus project.
				| We had to rebuild parts of the theme that were taken away when we replaced
				| certain plugins. However, we hypothesize that the improved user experience
				| and higher anticipated conversion rate may help increase sales, which is
				| Restaurants’ largest initiative this year. We took the opportunity to
				| improve the customer shopping experience, which was clunky and outdated.
			p
				| The Promenade for Restaurants platform needs a refresh to better appeal to
				| prospective vendors. By revamping the website look & feel as well as
				| vendor-facing tools, we will be essentially relaunching all the visible
				| aspects of the platform to better position them for sales success.
			p
				| This redesign will tackle some of the pages at the storefront for better
				| usability, experience and tie-in with the new managed menu system.

		.col-6
			h2 Problems
			ol
				li
					strong Complex Navigation:&nbsp;
					| Users face a convoluted journey to find and add food items to their
					| cart, leading to frustration and a time-consuming experience.
				li
					strong Lost Browsing Position:&nbsp;
					| Unnecessary redirection to separate pages disrupts the user's menu
					| browsing position, causing confusion and hindering seamless navigation.
				li
					strong Confusing Cart Display:&nbsp;
					| The cart display suffers from unclear text hierarchy for variants and
					| customization lists, compounded by the absence of product photos,
					| resulting in a user-unfriendly experience.
				li
					strong Erroneous Pricing:&nbsp;
					| Multiple ways of customizing orders lead to inconsistent pricing
					| display, causing confusion and potentially affecting order accuracy.
				li
					strong Wasted Real Estate:&nbsp;
					| The website's layout wastes significant screen space, pushing important
					| information below the fold, impacting user engagement.
				li
					strong Inaccurate Breadcrumbs:&nbsp;
					| Breadcrumbs fail to provide accurate navigation, only leading users
					| back to the homepage rather than aiding in their journey through the
					| website.

		.col-6
			img.img-fluid(src="case-studies/promenade-restaurants/problems.png")

		.col-6
			h2 Ideation
			img.img-fluid(src="case-studies/promenade-restaurants/ideation-1.png")
		.col-6
			img.img-fluid(src="case-studies/promenade-restaurants/ideation-2.png")

	.row
		.col-12
			h2 Features
		.col-6
			p
				| 🌟 #[strong Streamlined Navigation:] Our one-page shop features sidebar
				| category links that allow for smooth scrolling to your desired section,
				| making product discovery a breeze.
		.col-6
			video.w-100(
				src="case-studies/promenade-restaurants/navigation.mov"
				title="Streamlined navigation"
				autoplay loop muted
			)
		.col-6
			p
				| 🛒 #[strong Instant Cart Addition:] When items require no configurations,
				| you can now instantly add them to your cart, saving you valuable time and
				| simplifying your shopping journey.
		.col-6
			video.w-100(
				src="case-studies/promenade-restaurants/instant-add.mov"
				title="Instant cart addition"
				autoplay loop muted
			)
		.col-6
			p
				| 🪄 #[strong Effortless Product Exploration:] Explore products with ease!
				| Our product details modal lets you dive deeper into a specific item
				| without losing your browsing progress. Configure customizations seamlessly
				| before adding to your cart, all while staying on the shop page to discover
				| more items.
			p
				| 🍕 #[strong Revamped Pizza Customizations:] Redesigned pizza customizations
				| offer a visual delight. Choose from half-left, half-right, or whole portions
				| for your favorite toppings, ensuring your pizza is just the way you like it.
		.col-6
			video.w-100(
				src="case-studies/promenade-restaurants/pdp.mov"
				title="Effortless product exploration & revamped pizza customizations"
				autoplay loop muted
			)
		.col-6
			p
				| 🛒 #[strong Accessible Cart:] Say goodbye to separate cart pages. Our
				| cart now resides as a convenient right-hand side sliding sidebar,
				| providing quick and easy access while you shop.
			p
				| 🚀 #[strong Smart Upselling:] Before checkout, our upsell page entices
				| you with complementary items, allowing for last-minute cart additions to
				| enhance your shopping experience.
			p
				| 🛠️ #[strong Cart Control:] Editing your cart is a breeze. Easily adjust
				| item quantities, make additions, or revisit the product details modal to
				| fine-tune configurations and customizations.
		.col-6
			video.w-100(
				src="case-studies/promenade-restaurants/checkout-upsell.mov"
				title="Accessible cart, smart upselling & cart control"
				autoplay loop muted
			)

	.row
		.col-12
			h2 Impact
			h3 5.56% to 7.29% ⬆️
			p
				| Following the release of the new design, the conversion rate experienced
				| an improvement, rising from 5.56% to 7.29% in just two months.
			h3 104 to 127 Partners ⬆️
			p
				| After implementing the changes, we successfully signed with more
				| partners within just two months, a percentage that typically takes us
				| double the amount of time to achieve.
			h3 Increase in positive feedback from existing partners
			p
				| We received numerous positive responses from our existing partners
				| regarding the redesign. They appreciate the new, modern, and sleek
				| aesthetic, as well as the enhanced ease of order placement for their
				| customers.
			h3 $45 Average Order Value ↔️
			p
				| AOV remains steady at around $45.
