extends ../index

block main
	.main-content
		.container
			h2
					span photography
			p.mt-5 Photography and videography have been some of my greatest interests ever since I was a kid. I was always drawn to the idea of reliving memories through photos and videos, so that is what I think about when I go around taking pictures. I'm glad I'm able to do this as a profession.



			h3 LUSD Student Life
			#lusd.carousel.slide.mb-5(data-ride='carousel')
					.carousel-inner
							- let l = 1;
							while l < 12
									.carousel-item(class=l === 1 ? "active" : "")
											img.d-block.w-100(src=`../images/photos/lusd/${l++}.jpg` loading="lazy" alt='LUSD Student Life')

					a.carousel-control-prev(href='#lusd' role='button' data-slide='prev')
							span.carousel-control-prev-icon(aria-hidden='true')
							span.sr-only Previous
					a.carousel-control-next(href='#lusd' role='button' data-slide='next')
							span.carousel-control-next-icon(aria-hidden='true')
							span.sr-only Next

			h3 Honors Concert 2019
			#honors19.carousel.slide.mb-5(data-ride='carousel')
					.carousel-inner
							- let i = 1;
							while i < 14
									.carousel-item(class=i === 1 ? "active" : "")
											img.d-block.w-100(src=`../images/photos/honors/${i++}.jpg` loading="lazy" alt='Honors Concert')

					a.carousel-control-prev(href='#honors19' role='button' data-slide='prev')
							span.carousel-control-prev-icon(aria-hidden='true')
							span.sr-only Previous
					a.carousel-control-next(href='#honors19' role='button' data-slide='next')
							span.carousel-control-next-icon(aria-hidden='true')
							span.sr-only Next

			h3 SJCOE Mock Trial
			#mock.carousel.slide.mb-5(data-ride='carousel')
					.carousel-inner
							- let j = 1;
							while j < 14
									.carousel-item(class=j === 1 ? "active" : "")
											img.d-block.w-100(src=`../images/photos/mock/${j++}.jpg` loading="lazy" alt='Mock Trial')

					a.carousel-control-prev(href='#mock' role='button' data-slide='prev')
							span.carousel-control-prev-icon(aria-hidden='true')
							span.sr-only Previous
					a.carousel-control-next(href='#mock' role='button' data-slide='next')
							span.carousel-control-next-icon(aria-hidden='true')
							span.sr-only Next

			h3 SJCOE Tech Summit
			#tech.carousel.slide.mb-5(data-ride='carousel')
					.carousel-inner
							- let t = 1;
							while t < 14
									.carousel-item(class=t === 1 ? "active" : "")
											img.d-block.w-100(src=`../images/photos/tech/${t++}.jpg` loading="lazy" alt='Mock Trial')

					a.carousel-control-prev(href='#tech' role='button' data-slide='prev')
							span.carousel-control-prev-icon(aria-hidden='true')
							span.sr-only Previous
					a.carousel-control-next(href='#tech' role='button' data-slide='next')
							span.carousel-control-next-icon(aria-hidden='true')
							span.sr-only Next
